body {
  background-color: #1c1c1c;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #f5f3ff;
  min-width: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

button {
  background-color: #8b5cf6;
  color: #f5f3ff;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #7c3aed;
}
